/* Geez you must be pretty bored to be looking at this */

body{
  margin: 0 0 2em 0;
  padding: 0;
  font-family: "Gill Sans", arial, sans-serif;
  font-weight: 300;
}

h1{
  padding: 0;
  font-variant: small-caps;
  font-weight: 400;
  width: 960px;
  margin: 0.5em auto 0 auto;
}

h2{
  top: -2em;
  left: -0.5em;
  position: absolute;
  display: inline-block;
  font-variant: small-caps;
  font-weight: 400;
  border: 2px solid #444;
  background-color: #FFF;
  padding: 0.3em 1em;
  -webkit-box-shadow: 1px 1px 3px #999;
  -webkit-transform: rotate(-2deg);
}

h3{
  font-variant: small-caps;
  font-weight: 300;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.4em;
}

p{
  font-family: verdana, sans-serif;
  font-size: 0.8em;
}

.header{
  text-align: center;
  padding-bottom: 1em;
}

.footer{
  width: 960px;
  margin: 0 auto;
}

.main{
  background-color: #E3D8BC;
}

.content{
  width: 54em;
  margin: 3em auto 0 auto;
  border: 1px solid #ccc;
  background-color: #FFF;
  position: relative;
  padding: 1em;
}

pre{
  border: 1px solid blue;
  padding: 1em;
  background-color: #F8F8FF;
  border: 1px solid #ccc;
}

.right{ float: right;}